# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env

# IDE
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Python cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
uploads/